.property .overlay .additional-info {
    min-height: 59px;
    margin-bottom: -8px;
}

.testimonials-carousel .testimonial img {
     height: auto;
    width: 80px !important;
}

.actions-holder {
    min-height:133px;
}

.rating-holder {

}

.rating {
    background-color: #1396e2;
    background-color: #1396e2;
    min-height: 35px;
    border: 1px solid;
    border-radius: 24px;
    color: #fff;
    padding-top: 6px;
    width:34px;
    float:left;
    text-align: center;
    margin-right:5px;
}

.display-lines .property .type {
    top: 0;
    right: 0;
    width: 21px;
    cursor: pointer;
}

#page-content {
    margin-top: 110px;
}